{% extends "base.twig" %}
{% block head %} {{ parent() }}
<link rel="stylesheet" href="{{ site.theme.link }}/assets/css/contact.css" type="text/css" media="screen" /> {% endblock %}
{% block content %}

<section class="pt-4 pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 text-center mb-4 mx-auto">
                <h2 class="text-uppercase">Contate-nos</h2>
                <p>Tem alguma sugestão, problema ou qualquer outra questão? Gostaríamos muito de ouvir de você. Envie-nos uma mensagem e nos responderemos assim que possível.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            {% filter shortcodes %}
                [contact-form-7 id="1348" title="Contact form 1"]
            {% endfilter %}
        </div>
    </div>

</section>

{% endblock %}