:root{
    --bg-cosmocard-color: #fff;
    --bg-cosmocard2-color: #ededed;
    --font-cosmocard-color: #2e2e2e;
}
[data-theme="dark"] {
    --bg-cosmocard-color: #1f2025;;
    --bg-cosmocard2-color: #2f3036;
    --font-cosmocard-color: #ebebeb;
}

.cosmo-card{
    background-color: var(--bg-cosmocard-color);
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
    min-height: 270px;
    display: flex;
    transition: all .80s ease-in-out;
    
}
.cosmo-card::before,
.cosmo-card::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}  

.cosmo-card-animation::before,
.cosmo-card-animation::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
}
  
.cosmo-legendary-animation::before {
    border-top: 2px solid #a483ca;
    border-bottom: 2px solid #a483ca;
    transform: scale3d(0,1,1)
}
  
.cosmo-legendary-animation::after {
    border-left: 2px solid #a483ca;
    border-right: 2px solid #a483ca;
    transform: scale3d(1,0,1);
}


.cosmo-solar-animation::before {
    border-top: 2px solid #fbaf80;
    border-bottom: 2px solid #fbaf80;
    transform: scale3d(0,1,1)
}
  
.cosmo-solar-animation::after {
    border-left: 2px solid #fbaf80;
    border-right: 2px solid #fbaf80;
    transform: scale3d(1,0,1);
}



.cosmo-lunar-animation::before {
    border-top: 2px solid #e9b13f;
    border-bottom: 2px solid #e9b13f;
    transform: scale3d(0,1,1)
}
  
.cosmo-lunar-animation::after {
    border-left: 2px solid #e9b13f;
    border-right: 2px solid #e9b13f;
    transform: scale3d(1,0,1);
}


.cosmo-star-animation::before {
    border-top: 2px solid #8287d4;
    border-bottom: 2px solid #8287d4;
    transform: scale3d(0,1,1)
}
  
.cosmo-star-animation::after {
    border-left: 2px solid #8287d4;
    border-right: 2px solid #8287d4;
    transform: scale3d(1,0,1);
}
  
.cosmo-card-animation:hover::before,
.cosmo-card-animation:hover::after {
      transform: scale3d(1,1,1);
      transition: transform 0.5s;
}
.cosmo-card:hover{
    cursor: pointer;
}

.cosmo-card .cosmo-img{
    border-radius: 100%;
    max-width: 100%;
    height: auto;
}

.cosmo-card .cosmo-status{
    background-color: var(--bg-cosmocard2-color);
}

.cosmo-card .cosmo-legendary{
    background: linear-gradient(#a483ca,#9362b4);
    border: 1px solid #8c65b0;
    box-shadow: 0 0 20px #8c65b0;
}

.cosmo-card .cosmo-solar{
    background: linear-gradient(#fbaf80, #d55951);
    border: 1px solid #c05551;
    box-shadow: 0 0 20px #c05551;
}

.cosmo-card .cosmo-lunar{
    background: linear-gradient(#e9b13f, #e6b549);
    border: 1px solid #e3b242;
    box-shadow: 0 0 20px #e3b242;
}

.cosmo-card .cosmo-star{
    background: linear-gradient(#8287d4, #5a7bc5);
    border: 1px solid #5c7cbf;
    box-shadow: 0 0 20px #5c7cbf;
}

.cosmo-card h5, .cosmo-card h5{
    color: var(--font-cosmocard-color) !important;
}

.btn-search-cosmos{
    border: 1px solid #ced4da;
    transition: all .4s ease-in-out !important;
    color: var(--font-color) !important;
    background: transparent !important;
}

.btn-search-cosmos:hover{
    background: var(--primary-color) !important;
    color: #303030 !important;
    border: 1px solid var(--primary-color) !important;
}

.tab {
    overflow: hidden;
}
  
.tab button {
    background-color: transparent;
    font-size: 1.8em;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    text-transform: uppercase;
    color: #6e6e6e;
    margin: 0 3rem 0 3rem;
 }
  
.tab button.active {
    color: var(--primary-color);
}

.tablinks-tier{
    background: #6e6e6e;
    color: white;
    font-size: 1.8em;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 16px;
    transition: 0.3s;
    text-transform: uppercase;
    color: white;
}
.tablinks-tier.active{
    border-bottom: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: black;
}

.tabcontent.active{
    display: block;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
}
.tabcontent {
    animation: fadeEffect 1s; 
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.tabcontent-tier {
    display: none;
    padding: 6px 12px;
}
.tabcontent-tier {
    animation: fadeEffect 1s; 
}

.tabcontent-tier.active{
    display: block;
}

#tierss-saint .title-saint h3{
    color: #ff7f7f;
}

#tiers-saint .title-saint h3{
    color: #ffbf7f;;
}

#tiera-saint .title-saint h3{
    color: #d9bc66;
}

#tierb-saint .title-saint h3{
    color: #b8b84f;
}

#tierc-saint .title-saint h3{
    color: #7bb046;
}



.saint-block{
    border-radius: 50%;
    width: 100%;
}
.saint-block a img{
    border-radius: 50%;
}

.saint-block .saint-block-img.r1-ranking {
    background: rgb(255, 182, 123);
    background: linear-gradient(90deg, rgba(255, 182, 123, 1) 0%, rgba(255, 62, 55, 1) 50%, rgba(255, 182, 123, 1) 100%);
    outline: none;
    border: none;
}
.saint-block .saint-block-img.r2-ranking{
    background: rgb(255, 242, 139);
    background: linear-gradient(90deg, rgba(255, 242, 139, 1) 0%, rgba(232, 186, 84, 1) 50%, rgba(255, 242, 139, 1) 100%);
    outline: none;
    border: none;
}
.saint-block .saint-block-img.r3-ranking {
    background: rgb(211, 171, 251);
    background: linear-gradient(90deg, rgba(211, 171, 251, 1) 0%, rgba(168, 116, 237, 1) 50%, rgba(211, 171, 251, 1) 100%);
    outline: none;
    border: none;
}

.saint-block .saint-block-img.r4-ranking {
    background: rgb(151, 235, 254);
    background: linear-gradient(90deg, rgba(151, 235, 254, 1) 0%, rgba(122, 171, 235, 1) 50%, rgba(151, 235, 254, 1) 100%);
    outline: none;
    border: none;
}

.saint-block a{
    display: inline-block;
    font-size: 1.2em;
    text-decoration: none;
    color: var(--font-color);
    transition: all .2s ease-in-out;
}

.saint-block .character-img{
    position: relative;
}

.saint-block .saint-ranking{
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.saint-block a:hover{
    color: var(--primary-color);
}